<div class='jumbotron'>
  <div id="admin-btn-list">
    <div class="admin-column">
      <h1>Teachers</h1>
      <div><%= link_to "List of Teachers", teachers_path, class: "btn btn-primary btn-lg admin-btn" %></div>
      <div><%= link_to "Add a Teacher", new_teacher_path, class: "btn btn-primary btn-lg admin-btn" %></div>
    </div>

    <div class="admin-column">
      <h1>Locations</h1>
      <div><%= link_to "List of Locations", locations_path, class: "btn btn-primary btn-lg admin-btn" %></div>
      <div><%= link_to "Add a Location", new_location_path, class: "btn btn-primary btn-lg admin-btn" %></div>
    </div>

    <div class="admin-column">
      <h1>Classes</h1>
      <div><%= link_to "List of Classes", dance_classes_path, class: "btn btn-primary btn-lg admin-btn" %></div>
      <div><%= link_to "Add a Class", new_dance_class_path, class: "btn btn-primary btn-lg admin-btn" %></div>
    </div>
  </div>
</div>