<div class="jumbotron">
  <h1><%= @group.name %></h1>
  <table id="student-list">
  <% @group.students.each do |student| %>
  <tr class="student-row">
    <td class="student-delete-btn"><%= button_to "delete", {controller: :students, action: 'delete', id: student.id, group_id: @group.id }, method: :delete, data: {confirm: "Are you sure?"}, class: "btn btn-danger" %></td>
    <td class="student-name"><p><%= student.name %></p></td>
  </tr>
  <% end %>
  </table>
  <%= form_tag("/students", method: "post") do %>
    <%= text_field_tag(:name, nil, placeholder: "name") %>
    <%= hidden_field_tag(:group_id, @group.id) %>
    <%= submit_tag("Add Student", class: "btn btn-primary") %>
  <% end %>
  <%= link_to "Back", group_path(@group) %>
</div>