<div class="jumbotron mobile-jumbo">
  <h1 class="varsity"><%= @group.name.upcase %></h1>
  <table id="student-list">
  <% @group.students.order('last_name').each do |student| %>
    <tr class="student-row not-attending">
      <% if (logged_in? && (current_user.admin? || current_user.work_study?)) %>
        <td class="attendance-btn"><button class="btn btn-default">Here?</button></td>
      <% end %>
      <td class="student-name">
        <div class="full-name"><p><%= student.full_name %></p></div>
        <% if (logged_in? && (current_user.admin? || current_user.work_study?)) %>
          <% if student.phone_number %>
            <h5 class="student-phone"><%= phone_number_link(student.phone_number) %></h5>
          <% end %>
        <% end %>
      </td>
    </tr>
    <% end %>
  </table>
  <br>
  <% if (logged_in? && (current_user.admin? || current_user.work_study?)) %>
    <%= text_field(:class_name, :field, placeholder: "name of class", class: "student-input") %><br />
    <%= mail_to "cdiauditions@gmail.com", "Email Attendance", class: "btn btn-success btn-sm email-btn" %>
  <% end %>
  <br>
  <% if current_user && current_user.admin? %>
    <br>
    <%= form_tag("/students", {method: "post", id: 'new-student-form'}) do %>
      <%= text_field_tag(:name, nil, placeholder: "name", class: "student-input") %><br />
      <%= text_field_tag(:phone_number, nil, placeholder: "phone", class: "student-input") %><br />
      <%= hidden_field_tag(:group_id, @group.id) %>
      <%= submit_tag("Add Student", class: "btn btn-primary btn-sm") %>
    <% end %>
    <br>
    <%= link_to "Edit #{@group.name}", edit_group_path(@group) %>
  <% end %>
</div>