<div class="jumbotron">
  <p id="notice"><%= notice %></p>

  <h1>Registered Users</h1>

  <% @users.each do |user| %>
    <div class="user-admin-line">
      <h3 class="inline"><%= user.username %></h3><br />
      <% if user != current_user %>
        <% if user.admin? %>
          <%= link_to "Remove Admin", user_remove_admin_path(user), class: "inline btn btn-danger btn-sm remove-admin-btn", data: { confirm: "Are you sure you want to remove #{user.username}'s admin priveleges?" } %>
        <% else %>
          <%= link_to "Make Admin", user_make_admin_path(user), class: "inline btn btn-success btn-sm make-admin-btn", data: { confirm: "Are you sure you want to make #{user.username} an admin?" } %>
        <% end %>
        <% if user.work_study? %>
          <%= link_to "Remove Work Study", user_remove_work_study_path(user), class: "inline btn btn-danger btn-sm remove-admin-btn", data: { confirm: "Are you sure you want to remove #{user.username}'s work study status?" } %>
        <% else %>
          <%= link_to "Make Work Study", user_make_work_study_path(user), class: "inline btn btn-success btn-sm make-admin-btn", data: { confirm: "Are you sure you want to make #{user.username} a work study" } %>
        <% end %>
      <% end %>
    </div>
    <%= link_to 'Delete User', user, method: :delete, data: { confirm: 'Are you sure?' } %>
  <% end %>
</div>

