<%= form_for(@dance_class, html: {id: "new-class-form"}) do |f| %>
  <% if @dance_class.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@dance_class.errors.count, "error") %> prohibited this dance_class from being saved:</h2>

      <ul>
      <% @dance_class.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="actions">
    <%= f.text_field :name, placeholder: "Name" %><br />
    <%= f.collection_select :teacher_id, Teacher.order(:last_name),:id,:full_name, include_blank: true, prompt: "Teacher" %><br />
    <%= f.collection_select :second_teacher_id, Teacher.order(:last_name),:id,:full_name, include_blank: true, prompt: "Teacher" %><br />
    <%= f.collection_select :location_id, Location.order(:name),:id,:name, include_blank: true, prompt: "Location" %><br />
    <%= f.text_field :style, placeholder: "Style" %><br />
    <div id="check-container">
      <%= f.label :for_group_a, class: "check-label" do %>
        Group A <%= f.check_box :for_group_a %>
      <% end %>
      <%= f.label :for_group_b, class: "check-label" do %>
        Group B <%= f.check_box :for_group_b %>
      <% end %>
    </div>

    <%= f.label :start %>:
    <div>
        <div>
            <div class='input-group date' id='datetimepicker1'>
                <%= f.text_field :start, value: (@dance_class.start.strftime("%B %e, %Y %l:%M %P") if @dance_class.start), class: "form-control" %>
                <span class="input-group-addon">
                    <span class="glyphicon glyphicon-calendar"></span>
                </span>
            </div>
            <script type="text/javascript">
                $(function () {
                    $('#datetimepicker1').datetimepicker({
                        format: 'MMMM D, YYYY h:mm a',
                        stepping: 5,
                        defaultDate: "July 10, 2016 09:00:00"
                    });
                });
            </script>
        </div>
    </div>

    <%= f.label :end %>:
    <div>
        <div>
            <div class='input-group date' id='datetimepicker2'>
                <%= f.text_field :end, value: (@dance_class.end.strftime("%B %e, %Y %l:%M %P") if @dance_class.end), class: "form-control" %>
                <span class="input-group-addon">
                    <span class="glyphicon glyphicon-calendar"></span>
                </span>
            </div>
            <script type="text/javascript">
                $(function () {
                    $('#datetimepicker2').datetimepicker({
                        format: 'MMMM D, YYYY h:mm a',
                        stepping: 5,
                        defaultDate: "July 10, 2016 09:00:00"
                    });
                });
            </script>
        </div>
    </div>
    <%= f.submit 'Submit', class: "btn btn-primary" %>
  </div>
<% end %>
