<div class="jumbotron">
  <h1>Classes</h1>
  <%= link_to 'Add Class', new_dance_class_path, class: "btn btn-primary btn-sm" %>
  <p id="notice"><%= notice %></p>
  <div class="vert-top">
    <div class="inline vert-top spaced">
    <h2>Group A</h2>
      <% @days.each do |day| %>
        <div class="top-spaced"><h5 class="date-tab"><%= day.strftime('%A, %B %e') %></h5></div>
        <% group_a_classes = @group_a_classes.select{|c| c.class_day == day} %>
        <% group_a_classes.each do |dance_class| %>
          <div class="class-container">
            <div><h2><%= dance_class.name %></h2></div>
            <div class="dance-style"><h7><%= dance_class.style %></h7></div>
            <div class="inline">
              <% if dance_class.teacher %>
                <h5><%= dance_class.teacher.full_name %></h5>
              <% end %>
              <% if dance_class.second_teacher %>
                <h5><%= dance_class.second_teacher.full_name %></h5>
              <% end %>
              <h5><%= dance_class.location.name %></h5>
              <h5><%= dance_class.group.name %></h5>
            </div>
            <div class="inline float-right">
              <h5><%= dance_class.start.strftime("%B %e") %></h5>
              <h5><%= dance_class.start.strftime("%I:%M %P") %></h5>
              <h5><%= dance_class.end.strftime("%I:%M %P") %></h5>
            </div>
            <div>
              <%= link_to 'Edit', edit_dance_class_path(dance_class), class: "btn btn-warning btn-xs" %>
              <%= link_to 'Delete', dance_class, method: :delete, class: "btn btn-danger btn-xs", data: { confirm: 'Are you sure? '}%>
            </div>
          </div>
        <% end %>
      <% end %>
    </div>
    <div class="inline vert-top spaced">
    <h2>Group B</h2>
      <% @days.each do |day| %>
        <div class="top-spaced"><h5 class="date-tab"><%= day.strftime('%A, %B %e') %></h5></div>
        <% group_b_classes = @group_b_classes.select{|c| c.class_day == day} %>
        <% group_b_classes.each do |dance_class| %>
          <div class="class-container">
            <div><h2><%= dance_class.name %></h2></div>
            <div class="dance-style"><h7><%= dance_class.style %></h7></div>
            <div class="inline">
              <% if dance_class.teacher %>
                <h5><%= dance_class.teacher.full_name %></h5>
              <% end %>
              <% if dance_class.second_teacher %>
                <h5><%= dance_class.second_teacher.full_name %></h5>
              <% end %>
              <h5><%= dance_class.location.name %></h5>
              <h5><%= dance_class.group.name %></h5>
            </div>
            <div class="inline float-right">
              <h5><%= dance_class.start.strftime("%B %e") %></h5>
              <h5><%= dance_class.start.strftime("%I:%M %P") %></h5>
              <h5><%= dance_class.end.strftime("%I:%M %P") %></h5>
            </div>
            <div>
              <%= link_to 'Edit', edit_dance_class_path(dance_class), class: "btn btn-warning btn-xs" %>
              <%= link_to 'Delete', dance_class, method: :delete, class: "btn btn-danger btn-xs", data: { confirm: 'Are you sure? '}%>
            </div>
          </div>
        <% end %>
      <% end %>
    </div>
  </div>
  <br><br>
  <%= link_to 'back', admin_path %>
</div>
