<%= form_for(@teacher) do |f| %>
  <% if @teacher.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@teacher.errors.count, "error") %> prohibited this teacher from being saved:</h2>

      <ul>
      <% @teacher.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="actions">
    <%= f.label :first_name %>:
    <%= f.text_field :first_name %><br />

    <%= f.label :last_name %>:
    <%= f.text_field :last_name %><br />

    <%= f.label :email %>:
    <%= f.email_field :email %><br />

    <%= f.label :phone %>:
    <%= f.email_field :phone_number %><br />

    <%= f.label :arriving %>:
    <%= f.datetime_select :arriving %><br />
    <%= f.submit "Submit" %>
  </div>
<% end %>
