<div class="jumbotron">
  <h1><%= @teacher.first_name %>'s Classes</h1>
  <p id="notice"><%= notice %></p>
  <% @teacher.dance_classes.each do |dance_class| %>
    <div class="class-container">
      <div><h2><%= dance_class.name %></h2></div>
      <div class="dance-style"><h7><%= dance_class.style %></h7></div>
      <div class="inline">
        <h5><%= dance_class.teacher.full_name %></h5>
        <h5><%= dance_class.location.name %></h5>
        <h5><%= dance_class.group.name %></h5>
      </div>
      <div class="inline float-right">
        <h5><%= dance_class.start.strftime("%B %e") %></h5>
        <h5><%= dance_class.start.strftime("%I:%M %P") %></h5>
        <h5>- <%= dance_class.end.strftime("%I:%M %P") %></h5>
      </div>
    </div>
  <% end %>
  <br>
  <%= link_to 'back', hours_path %>
</div>