<div class="jumbotron">
  <h1><%= @teacher.first_name %>'s Classes</h1>
  <p id="notice"><%= notice %></p>
  <% @teacher.dance_classes.each do |dance_class| %>
    <div class="class-container">
      <div><h2><%= dance_class.name %></h2></div>
      <% if dance_class.style %>
        <div class="dance-style"><h7><%= dance_class.style %></h7></div>
      <% end %>
      <div class="inline">
        <% if dance_class.teacher %>
          <h5><%= link_to dance_class.teacher.full_name, teacher_path(dance_class.teacher), class: "teacher-link" %></h5>
        <% end %>
        <% if dance_class.second_teacher %>
          <h5><%= link_to dance_class.second_teacher.full_name, teacher_path(dance_class.second_teacher), class: "teacher-link" %></h5>
        <% end %>
        <% if dance_class.location %>
          <h5><%= dance_class.location.name %></h5>
        <% end %>
        <% if dance_class.for_group_a == true && dance_class.for_group_b == true %>
          <h5>Groups A & B</h5>
        <% elsif dance_class.for_group_a == true %>
          <h5>Group A</h5>
        <% else %>
          <h5>Group B</h5>
        <% end %>
      </div>
      <div class="inline float-right">
        <h5><%= dance_class.start.strftime("%B %e") %></h5>
        <h5><%= dance_class.start.strftime("%I:%M %P") %></h5>
        <h5><%= dance_class.end.strftime("%I:%M %P") %></h5>
      </div>
    </div>
  <% end %>
  <br>
  <%= link_to 'back', hours_path %>
</div>