<div class="jumbotron">
  <p id="notice"><%= notice %></p>
  <div id="teacher-container">
    <% if @teacher.img && @teacher.img.length > 1 %>
      <%= image_tag(@teacher.img, size: "300x300", alt: @teacher.full_name)%>
    <% end %>
    <h1><%= @teacher.full_name %></h1>
    <h4><%= link_to "All #{@teacher.full_name}'s classes", teacher_dance_classes_path(@teacher), class: "teacher-link" %></h4>
    <h3 id="teacher-bio"><%= @teacher.bio %></h3>
    <% if current_user && current_user.admin? %>
      <h5><%= @teacher.email %></h5>
      <h5 class="teacher-phone"><%= phone_number_link(@teacher.phone_number) %></h5>
      <h5>Arriving: <%= @teacher.arriving.strftime("%B %e, %Y %l:%M %P") %></h5>
      <h5>Leaving: <%= @teacher.leaving.strftime("%B %e, %Y %l:%M %P") %></h5>
      <%= link_to 'Edit', edit_teacher_path(@teacher), class: "btn btn-warning btn-xs" %>
      <%= link_to 'Delete', @teacher, method: :delete, class: "btn btn-danger btn-xs", data: { confirm: 'Are you sure?' } %>
      <br><br>
    <% end %>
    <br>
    <div><%= link_to 'All Teachers', teachers_path %></div>
  </div>
</div>
